<web-app>  
  
<servlet>  
<servlet-name>HelloWorld</servlet-name>  
<servlet-class>HelloWorld</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>ColorPostServlet</servlet-name>  
<servlet-class>ColorPostServlet</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>HelloFormName</servlet-name>  
<servlet-class>HelloFormName</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>DateServlet</servlet-name>  
<servlet-class>DateServlet</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>UsernamePassw</servlet-name>  
<servlet-class>UsernamePassw</servlet-class>  
</servlet> 

<servlet-mapping>  
<servlet-name>HelloWorld</servlet-name>  
<url-pattern>/ex/HelloWorld</url-pattern>  
</servlet-mapping>  

<servlet-mapping>  
<servlet-name>ColorPostServlet</servlet-name>  
<url-pattern>/ex1/ColorPostServlet</url-pattern>  
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>HelloFormName</servlet-name>  
<url-pattern>/ex2/HelloFormName</url-pattern>  
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>DateServlet</servlet-name>  
<url-pattern>/ex3/DateServlet</url-pattern>  
</servlet-mapping> 


<servlet-mapping>  
<servlet-name>UsernamePassw</servlet-name>  
<url-pattern>/ex4/UsernamePassw</url-pattern>  
</servlet-mapping> 



</web-app>  