body {
    font-style:italic;
    font-size: 32px;
    text-align: center;
    margin: 20vh 0;
}

h1 {
    color: black;
}

button{
    font-size: 15px;
    height: 50px;
    width: 100px;
    color:red;
    border-color:blue ;
    background-color: aquamarine;
}